/* CSS Document */
td.myLinks  {
    font-family: Georgia, "Times New Roman", Times, serif;
	font-size:11px;
    color:#FFFFFF;
	padding-bottom:2px;
	padding-top:2px;
	padding-left:2px;
	padding-right:2px;
    background-color:#000000;
}
td.warn {
	color:#FF0000;
}

a {
    font-family: Verdana;
	font-size:10px;
	
    color:#000066;
	padding-bottom:2px;
	padding-top:2px;
	padding-left:2px;
	padding-right:2px;
	text-decoration:none;
}
a:hover {
   background-color:#CCCCCC;
    color:#000000;
}
a.small {
    font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#669933
}
td.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size:8px;
	text-align:right
}
td, select, input, textarea {	
	font-family: Verdana, Helvetica, sans-serif; 
	font-size:10px
}
td.pageTitle {
	color:#804000;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px;
}
td.quote {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:11px;
	font-style:oblique;
	font-weight:bold;
    padding-top:10px;
	padding-bottom:10px;
	padding-left:30px;
	color:#006699;
}

td.colName {
	background-color: #6F3737;
	color:#FFFFFF;
	font-weight:bold;
	padding-left:5px;
}
.TxtWhatis {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF0000;
	font-weight: bold;
	text-decoration: none;
}
.NavBoxTextTIT {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	font-weight: normal;
	text-decoration: none;
}
.EmailLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #003366;
	text-decoration: underline;
}
.TextFooterLegal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #999999;
	font-style: normal;
}
.A15ProductContentText {


	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px.px;
	color: #003366;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
.A15PageTitleText {
	font-family: Verdana, Arial, Helvetica, sans-serif;


	font-size: 11px.px;
	color: #FFFFFF;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	padding-left: 10px;
}
.A15ProductTitleText {



	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px.px;
	color: #003366;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
}
.A15ProductContentTextFineprint {



	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px.px;
	color: #003366;
	font-size: 8px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
.A15PageTitleTextBlue {

	font-family: Verdana, Arial, Helvetica, sans-serif;


	font-size: 11px.px;
	color: #003366;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	padding-left: 10px;
}
.A15ProductContentTextBlack {



	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px.px;
	color: #000000;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
.A15ProductContentTextWhite {



	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px.px;
	color: #FFFFFF;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
